BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
OPENROUTER_MODEL=deepseek/deepseek-chat:free
OPENROUTER_SITE=https://example.com
OPENROUTER_TITLE=MyTGChatbot
TEXT_DAILY_LIMIT=200
CHAT_WINDOW_LIMIT=100
# для картинок
OPENROUTER_IMAGE_MODEL=black-forest-labs/flux-1-schnell:free
IMAGE_DAILY_LIMIT=10